/*Multi-steps form*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}

body a {
  color: inherit;
  text-decoration: none;
}
.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: "";
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all 0.15s linear 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s,
    transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s,
    -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: "";
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #37b5b6;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__title {
  justify-content: center;
  text-align: center;
}

.multisteps-form__content {
  margin-top: 20px;
  padding: 0 50px 0 50px;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*Payment CSS*/

.containerpayment,
.containerappointment {
  width: 100%;
  padding: 40px;
}

.containerpurpose {
  margin-top: 50px;
}

.container .title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.radio {
  display: none;
}

.container form .category {
  margin-top: 10px;
  padding-top: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.category label {
  /* width: 100%; */
  /* height: 65px; */
  height: 145px;
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

/* label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
} */

#cash:checked ~ .category .cashMethod,
#gcash:checked ~ .category .gcashMethod,
#maya:checked ~ .category .mayaMethod,
#bank:checked ~ .category .bankMethod {
  box-shadow: 0px 0px 0px 1px #6064b6;
}

#cash:checked ~ .category .cashMethod .check,
#gcash:checked ~ .category .gcashMethod .check,
#maya:checked ~ .category .mayaMethod .check,
#bank:checked ~ .category .bankMethod .check {
  display: block;
}

label .imgName {
  display: flex;
  /* justify-content: space-between;
     */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.imgName span {
  /* margin-left: 20px; */
  font-family: Arial, Helvetica, sans-serif;

  position: absolute;
  top: 72%;
  transform: translateY(-72%);
}

.imgName .imgContainer {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 35%;
  transform: translateY(-35%);
}

img {
  width: 50px;
  height: auto;
}

.cash img {
  width: 50px;
  /* margin-left: 5px; */
}

.gcash img {
  width: 100px;
}

.maya img {
  width: 200px;
}

.bank img {
  width: 50px;
}

.check {
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
}

.check i {
  font-size: 18px;
}

input {
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  outline: 1px;
}
.input {
  margin: 5px 0;
  margin-left: 10px;
}

table {
  width: 650px;
  padding: 40px;
  justify-content: center;
  margin-left: 20px;
}

tr {
  height: 30px;
  padding: 7px;
  margin: 10px 0;
}

select {
  margin-left: 8px;
  width: 100%;
  border-radius: 5px;
  border-color: black;
}

.other label {
  width: 650px;
  margin-left: 20px;
  display: flex;
}

.other input {
  display: inline;
  width: 540px;
  margin-left: 140px;
}
